.cart-container{
    width: 100%;
    height: 90vh;
    padding: 10px;
    overflow-y: scroll;
}
.cart-container::-webkit-scrollbar{
    display: none;
}
.cart-container .empty-cart{
    width: 400px;
    height: 250px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cart-container .empty-cart img{
    width: 200px;
    height: 150px;
    object-fit: contain;
}
.cart-container .cart-row{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cart-container .cart-row .cart-col{
    width: 100%;
    height: 120px;
    display: flex;
    gap: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.cart-container .cart-row .cart-col .image{
    width:150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eee;
}
.cart-container .cart-row .cart-col .image img{
    width: 90px;
    height: 90px;
}
.cart-row .cart-col .cart-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}
.cart-row .cart-col .cart-text .cart-name{
    font-weight: 600;
    color: var(--fcolor);
}
.cart-row .cart-col .cart-text .cart-amount{
    font-size: 14px;
}
.cart-row .cart-col .cart-text .delete-btn{
    align-self: flex-end;
    color: var(--primary);
    cursor: pointer;
}
.cart-container .total{
    border-top: 1px solid #eee;
}
.cart-container .total .total-btn{
    display: inline-block;
    padding: 5px 25px;
    background-color: var(--primary);
    color: var(--w);
    border-radius: 4px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}