.product-container {
  width: 100%;
  padding: 10px;
}
.product-container .row {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-container .row .col {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.product-container .row .col:nth-child(1) {
  display: flex;
  gap: 10px;
}
.product-container .row .col .left-col {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 5px;
}
.product-container .row .col .left-col .col-1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.product-container .row .col .left-col .col-1.active{
  border: 2px solid var(--primary);
}
.product-container .row .col .left-col .col-1 img {
  width: 60px;
  height: 100%;
  object-fit: contain;
}
.product-container .row .col .right-col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eee;
}
.product-container .row .col .right-col img {
  width: 300px;
  height: 400px;
}
.product-container .row .col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.product-container .row .col:nth-child(2) .pro-name {
  font-size: var(--f5);
  font-weight: 500;
  color: var(--fcolor);
}
.product-container .row .col:nth-child(2) .pro-amount {
  font-size: 15px;
  font-weight: 600;
  color: var(--primary);
}
.product-container .row .col:nth-child(2) .kgs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-container .row .col:nth-child(2) .kgs div {
  width: 130px;
  height: 40px;
  border-radius: 2px;
  border: 1.5px solid #eee;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
}
.product-container .row .col:nth-child(2) .stars {
  color: yellow;
  font-size: 14px;
}
.product-container .row .col:nth-child(2) p {
  text-transform: capitalize;
  text-align: justify;
  font-size: 14px;
  color: #444;
}
.product-container .row .col:nth-child(2) .add-cart-btn {
  width: fit-content;
  padding: 5px 25px;
  background-color: var(--primary);
  color: var(--w);
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .product-container .row {
    flex-direction: column;
  }
  .product-container .row .col {
    width: 100%;
  }
  .product-container .row .col:nth-child(2) {
    justify-content: center;
  }
  .product-container .row .col .left-col {
    width: 150px;
  }
  .product-container .row .col .left-col .col-1 img {
    width: 65px;
  }
}
@media all and (max-width: 800px) {
  .product-container .row {
    flex-direction: column;
  }
  .product-container .row .col {
    width: 100%;
  }
  .product-container .row .col:nth-child(2) {
    justify-content: center;
  }
}
@media all and (max-width: 1000px) {
  .product-container .row {
    flex-direction: column;
  }
  .product-container .row .col {
    width: 100%;
  }
  .product-container .row .col:nth-child(2) {
    justify-content: center;
  }
}
